body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}
header{
    height: 150px;
}
div{
    display: flex;
}
main{
    flex: 1;
}
nav{
    width: 150px;
}
aside{
    width: 200px;
}
footer{
    height: 150px;
}
@media screen and (max-width: 900px){
    body,nav, aside{
        width: 100%;
    }
    div{
        flex-direction: column;
    }
    main{
        order: -1;
    }
} 